@import "../variables.scss";

.movie-grid-item {
  @include flexCenter();
  flex-wrap: wrap;
  gap: 1rem;
  .movie-card {
    height: 37rem;
    width: 22rem;
    flex-direction: column;

    .movie-card-media {
      max-height: 25rem;
      object-fit: cover;
    }

    .movie-card-content {
      .title {
        margin-bottom: 1rem;
        color: #1976d2;
        font-weight: bold;
      }

      .text {
        margin-bottom: 0.5rem;
        color: #777;
        font-weight: normal;
      }
    }
  }
}

.error-message {
  @include flexCenter();
  color: $red;
}
