#root {
  width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vh;
  min-height: 100vh;
}

.movie-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.movie-grid-item .movie-card {
  height: 37rem;
  width: 22rem;
  flex-direction: column;
}
.movie-grid-item .movie-card .movie-card-media {
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-grid-item .movie-card .movie-card-content .title {
  margin-bottom: 1rem;
  color: #1976d2;
  font-weight: bold;
}
.movie-grid-item .movie-card .movie-card-content .text {
  margin-bottom: 0.5rem;
  color: #777;
  font-weight: normal;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f44336;
}

.movie-detail {
  max-width: 50rem;
  margin: 2rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.movie-detail .movie-detail-media {
  width: 50%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-detail .movie-detail-content {
  width: 50%;
  padding: 1.5rem;
}
.movie-detail .movie-detail-content .title {
  margin-bottom: 1rem;
  color: #1976d2;
  font-weight: bold;
}
.movie-detail .movie-detail-content .text {
  margin-bottom: 0.5rem;
  color: #777;
  font-weight: normal;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
@media (max-width: 768px) {
  .pagination {
    margin: 1.5rem;
  }
}
@media (max-width: 480px) {
  .pagination {
    margin: 1rem;
  }
}

.box {
  flex-grow: 1;
  padding-bottom: 7rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 16px;
}
@media (min-width: 600px) {
  .toolbar {
    padding: 0 24px;
  }
}

.logo {
  width: 12rem;
  height: 4rem;
  padding: 0.5rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0 1rem;
}

li a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  margin: auto;
  padding: 8px;
  border-radius: 4px;
}
@media (max-width: 600px) {
  .search-form {
    flex-direction: column;
  }
}
.search-form .search-input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
@media (max-width: 600px) {
  .search-form .search-input {
    margin-bottom: 8px;
  }
}
.search-form .search-button {
  color: #666;
}
@media (max-width: 600px) {
  .search-form .search-button {
    align-self: flex-end;
  }
}
@media (max-width: 778px) {
  .search-form .search-button {
    max-width: 12rem;
  }
}/*# sourceMappingURL=style.css.map */